services:
  php:
    image: tugboatqa/php-nginx:8.3.8-fpm-bullseye
    default: true
    commands:
      init:
        # Stop nginx before modifying config
        - sv stop nginx

        # Add AVIF MIME types support
        - sed -i '/^}$/i \    image/avif                                       avif;' /etc/nginx/mime.types
        - sed -i '/^}$/i \    image/avif-sequence                              avifs;' /etc/nginx/mime.types

        # Link the document root to the expected path
        - ln -snf "${TUGBOAT_ROOT}/add-avif-mime-support/web" "${DOCROOT}"

        # Start nginx
        - sv start nginx